:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.page {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  max-width: 600px;
}

.image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.top-text, .bottom-text {
  text-align: center;
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  color: #fff;
  -webkit-text-stroke: 1px black;
}

.top-text {
  position: absolute;
  top: 0;
}

.bottom-text {
  position: absolute;
  bottom: 0;
}

.next-btn {
  border: none;
  padding: 8px 24px;
  font: inherit;
  cursor: pointer;
  background-color:cyan;
}

.next-btn:hover {
  background-color: orangered;
}