:root {
  font-family: Impact, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme-container {
  position: relative;
  margin-bottom: 32px;
}

.image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.top-text, .bottom-text {
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 0;
  color: #fff;
  -webkit-text-stroke: 1px black;
}

.top-text {
  position: absolute;
  top: 12px;
}

.bottom-text {
  position: absolute;
  bottom: 12px;
}

.next-btn {
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  background-color:#FF5062;
  border-radius: 12px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.5px;
}

.next-btn:hover {
  background-color: #B70042;
}